db.* 

/htmlcov

*.pycaccounts/migrations/__pycache__/0001_initial.cpython-38.pyc
accounts/migrations/__pycache__/0002_user_create_date.cpython-38.pyc
accounts/migrations/__pycache__/__init__.cpython-38.pyc
accounts/__pycache__/admin.cpython-38.pyc
accounts/__pycache__/models.cpython-38.pyc
accounts/__pycache__/serializers.cpython-38.pyc
accounts/__pycache__/swagger.cpython-38.pyc
accounts/__pycache__/tests.cpython-38.pyc
accounts/__pycache__/urls.cpython-38.pyc
accounts/__pycache__/views.cpython-38.pyc
accounts/__pycache__/__init__.cpython-38.pyc
foodvendor/__pycache__/settings.cpython-38.pyc
foodvendor/__pycache__/swagger.cpython-38.pyc
foodvendor/__pycache__/urls.cpython-38.pyc
foodvendor/__pycache__/wsgi.cpython-38.pyc
foodvendor/__pycache__/__init__.cpython-38.pyc
menu/migrations/__pycache__/0001_initial.cpython-38.pyc
menu/migrations/__pycache__/0002_auto_20200519_1148.cpython-38.pyc
menu/migrations/__pycache__/__init__.cpython-38.pyc
menu/__pycache__/admin.cpython-38.pyc
menu/__pycache__/models.cpython-38.pyc
menu/__pycache__/permissions.cpython-38.pyc
menu/__pycache__/serializers.cpython-38.pyc
menu/__pycache__/urls.cpython-38.pyc
menu/__pycache__/views.cpython-38.pyc
menu/__pycache__/__init__.cpython-38.pyc
order/migrations/__pycache__/0001_initial.cpython-38.pyc
order/migrations/__pycache__/__init__.cpython-38.pyc
order/__pycache__/admin.cpython-38.pyc
order/__pycache__/helper.cpython-38.pyc
order/__pycache__/models.cpython-38.pyc
order/__pycache__/permissions.cpython-38.pyc
order/__pycache__/serializers.cpython-38.pyc
order/__pycache__/urls.cpython-38.pyc
order/__pycache__/views.cpython-38.pyc
order/__pycache__/__init__.cpython-38.pyc
