<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome || Food</title>
</head>
<body>
  <header>
    <h1>Welcome To VGC Food Vendor Capstone Project</h1>
  </header>
  <div>
    This is Venture Gardens Group(VGC) Internship capstone project for backend interns (Python/Django Stack)
    The link to Coresapi documentation is <a href="/docs">here</a>  or you can use <a href="/swagger/">Swagger documentation</a> 
  </div>
  <div>
    <h2>How it Works</h2> 
    <p>
      Register a new user using <a href="/api/auth/signup/customer">Customer Registeration</a> 
      or <a href="/api/auth/signup/vendor">Vendor Registration</a>   
    </p>
    or quickly use the following <b>test users</b>  for quick <a href="/api/auth/login">Login</a> if you don't want to gpo through registration stress
    <ul>
      <li>
        Vendor email: <b>johndoe@gmail.com</b> 
        <br>
        password: <b>some_strong_password</b> 
      </li>
      <br><br>
      <li>
        Customer email: <b>janedoe@gmail.com</b>
        <br> 
        password: <b>some_strong_password</b> 
      </li>
    </ul>

    <p>
      If you have any question using this app, contact 
      Phone Number: 07069388069 or Email: kayodegabriela@gmail.com
    </p>
  </div>

  <footer style="text-align:center; position:fixed;bottom:0px;width:100%;">
    <hr>
    Developed with ❤️ by <a href="www.twitter.com/_uncleabbey_">Kayode Gabriel</a>
  </footer>
</body>
</html>
